# vllm==0.6.1
# huggingface-hub==0.25.1
# transformers==4.44.2
# fastapi[standard]==0.110.2

# These are updated requirements to test docker build cache with mount

vllm==0.5.4
transformers==4.43.3

huggingface-hub==0.24.6

fastapi[standard]==0.109.1

